//
// BUTTONS
// =======
//


// Firefox specific reset to better match other browsers.
button.btn::-moz-focus-inner
  border none
  padding 0


//
// BASE STYLES
// Base styles to persuade `<a>`, `<button>` and `<input>` elements to look the
// same as each other, across various browsers.
//

.btn
  display inline-block
  border none
  vertical-align middle
  cursor pointer
  overflow visible // removes padding in IE

  // Presentational Styles
  height 3em
  padding 0 1em
  line-height @height
  font-size 1em
  font-family inherit
  color inherit
  background-color $color--grey

  &:focus,
  &:hover
    text-decoration none
    background-color lighten($color--grey, 10%)

  &:active
    background-color darken($color--grey, 20%)


//
// UNSTYLED BUTTON
// Simple reset to make button elements look more like text links.
//

.btn--unstyled
  border none
  background none


//
// BUTTON MODIFIERS
// Remember to add button variation modifier examples to the style guide page.
//

.btn--primary
  color $color--white
  background-color $color--primary

  &:focus,
  &:hover
    color $color--white
    background-color lighten($color--primary, 10%)

  &:active
    background-color darken($color--primary, 20%)


//
// BUTTON GROUP
// Contains multiple buttons and adds spacing between them.
//

.btn-group
  .btn + .btn
    margin-left 0.5em
