//
// FORMS
// =====
//
// 0. Controls
// 1. Notifications
// 2. Fields
//


form,
fieldset, legend,
label,
input, select, textarea
button
  //

label
  display block

input[type="search"]::-webkit-search-decoration
  -webkit-appearance none // http://stackoverflow.com/questions/11127891
