// NEEDS REVIEW
// * Refactor colours to variables?

//
// TABLE STYLES
// ============
//

table
  width 100%
  border-spacing 0
  border-collapse collapse

th,
td
  padding 8px
  vertical-align top

th
  text-align left
  border-bottom 2px solid #666

td
  border-bottom 1px solid #999
