//
// INDEX STYLESHEET
// ================
// All Stylus requires should live in here.
//


//
// SETUP
//

@require 'stylus-mixins'
@require 'responsive-grid'
@require 'utilities/settings'


//
// FOUNDATIONS
// Base HTML and generic site-wide elements
//

@require 'foundations/base'

// Typography
@require 'foundations/typography'
@require 'foundations/prose'

// Layout
@require 'foundations/grid'
@require 'foundations/content-center'

// Content
@require 'foundations/control'
@require 'foundations/field'
@require 'foundations/icon'
@require 'foundations/button'
@require 'foundations/list'

// State
@require 'foundations/visibility'


//
// LAYOUT SECTIONS
//

@require 'layout/*'


//
// GENERIC COMPONENTS
//

@require 'components/*'


//
// EXTERNAL PLUGINS
//


//
// DEVELOPMENT STYLES
//

if $environment == 'development'

  @require 'style-guide/*'
  @require 'dev/sandbox'
  @require 'dev/browsersync'

  // Change the $debug variable in `settings.styl` to activate debug mode.
  if $debug--mode == true
    @require 'dev/debug'


//
// PRINT
// Added last to allow overrides of all other styles
//

@require 'foundations/print'
