//
// INDEX STYLESHEET
// ================
// All Stylus imports should live in here.
//


//
// SETUP
//

@import '~stylus-mixins/lib/stylus-mixins/index'
@import '~responsive-grid/lib/responsive-grid/index'
@import 'utilities/settings'


//
// FOUNDATIONS
// Base HTML and generic site-wide elements
//

@import 'foundations/base'
@import 'foundations/typography'
@import 'foundations/structure'
@import 'foundations/visibility'
@import 'foundations/grid'
@import 'foundations/table'
@import 'foundations/list'
@import 'foundations/icon'
@import 'foundations/button'
@import 'foundations/notification'
@import 'foundations/form'
@import 'foundations/control'
@import 'foundations/field'


//
// LAYOUT SECTIONS
//

@import 'layout/a11y-navigation'
@import 'layout/main-header'
@import 'layout/main-navigation'
@import 'layout/main-content'
@import 'layout/main-footer'


//
// GENERIC COMPONENTS
//


//
// SPECIALISED COMPONENTS
//


//
// EXTERNAL PLUGINS
//


//
// DEVELOPMENT STYLES
//

if $environment == 'development'

  @import 'dev/style-guide'
  @import 'dev/sandbox'

  // Change the $debug variable in settings.styl to activate debug mode.
  if $debug--mode == true
    @import 'dev/debug'

