// NEEDS REVIEW
// * Formalise how this file is included / used
//   (rendered independantly, moved to new repo with HTML?)

//
// ERROR PAGE STYLES
// =================
// A very stripped back reset, used for server error pages – 500 etc.
// 404 page error styles should live within the general project styles.
//


html, body, p, h1, h2
  margin 0
  padding 0

body
  font-family Arial, sans-serif
  font-size 100%
  line-height 1.6
  font-weight normal
  color #777
  background #fff

h1, h2
  font-size 2.375em
  font-weight bold
  line-height 1
  color #222
  margin-bottom 2em

h2
  margin-bottom 1em
  font-size 1.6em

p, ul, ol
  margin-bottom 1.5em

img
  border 0
  vertical-align bottom
  max-width 100%
  width auto
  height auto

a
  text-decoration underline

  &:focus,
  &:hover,
  &:active
    color #222
    text-decoration underline

.centering
  margin-left auto
  margin-right auto
  max-width 30em
  padding-left 1em
  padding-right 1em
  padding-top 100px
  text-align center

@media screen and (max-width: 480px)
  .centering
    padding-top 40px

  h1
    margin-bottom 1em
