//
// INDEX STYLESHEET
// ================
// All Stylus imports should live in here.
//


//
// SETUP
//

@import 'stylus-mixins'
@import 'responsive-grid'
@import 'utilities/settings'


//
// FOUNDATIONS
// Base HTML and generic site-wide elements
//

@import 'foundations/base'
@import 'foundations/typography'
@import 'foundations/table'

@import 'foundations/form'
@import 'foundations/controls'
@import 'foundations/fields'

@import 'foundations/structure'
@import 'foundations/grid'
@import 'foundations/icons'
@import 'foundations/buttons'
@import 'foundations/notifications'


//
// LAYOUT SECTIONS
//

@import 'layout/a11y-navigation'
@import 'layout/main-header'
@import 'layout/main-navigation'
@import 'layout/main-content'
@import 'layout/main-footer'


//
// GENERIC COMPONENTS
//


//
// SPECIALISED COMPONENTS
//


//
// EXTERNAL PLUGINS
//


//
// DEVELOPMENT STYLES
//

if $environment == 'development'

  @import 'dev/style-guide'
  @import 'dev/sandbox'

  // Change the $debug variable in settings.styl to activate debug mode.
  if $debug--mode == true
    @import 'dev/debug'

