//
// ACCESSIBILITY
// =============
// Affects content added to aid accessibilit, such as "skip links"
//

.a11y-navigation

  a
    position absolute
    clip rect(1px, 1px, 1px, 1px)
    overflow hidden
    height 1px
    background-color $color--black
    color $color--white
    z-index 1000
    outline 0
    padding 2px 6px

    &:focus
      clip auto
      overflow visible
      height auto


