//
// MAIN NAVIGATION
// ===============
//


.main-navigation
  border-bottom 1px solid $color--grey

  li
    display inline-block

    a
      display inline-block
      padding 0.5em 1em

      &:hover
      &:focus
      &:active
        color $color--white
        background-color $color--primary
