//
// PRE-HEADER
// ==========
//


.pre-header
  clearfix()
  background-color $color--black
  color $color--white

.pre-header__primary
  display inline-block
  float left

.pre-header__secondary
  text-align right
