// NEEDS REVIEW
// * Formalise default elements/styles for this file

//
// MAIN HEADER
// ===========
//

.main-header
  background-color lighten($color--grey, 10%)
  padding 2.5em 1em

.site-title
  margin-bottom 0
