//
// COLOUR SWATCH
// =============
// Showcases a colour with lightness variations, with colour values overlaid.
//


$swatches = {
  blue: $color--blue,
  black: $color--black,
  grey: $color--grey,
  white:$color--white
}

for $key, $swatch in $swatches

  .swatch--{$key}
    background-color $swatch
    if $swatch == $base--body-bg
      outline 1px solid $color--grey

      if $base--body-bg == '#fff'
        .swatch__caption
          background-color $color--grey

    .swatch__value
      text-transform uppercase

    .swatch__value--hex:after
      content '' + $swatch

    .swatch__value--rgb:after
      content '' + red($swatch) + ', ' + green($swatch)', ' + blue($swatch)


.swatch
  position relative
  padding-top 8em
  padding-bottom 2em
  margin-bottom 1.7em

  &:after
    content ''
    position absolute
    bottom 0
    left 0
    width 100%
    height 2em
    background-image linear-gradient(to right, rgba($color--white, 0), rgba($color--white, 0) 25%, rgba($color--white, 0.25) 25%, rgba($color--white, 0.25) 50%, rgba($color--white, 0.5) 50%, rgba($color--white, 0.5) 75%, rgba($color--white, 0.75) 75%, rgba($color--white, 0.75))

.swatch__caption
  background-color $color--white
  padding 0.75em 0.5em 0.5em
  min-height 7em
  +width-min($mq--desktop)
    min-height 6em

.swatch__title
  margin-bottom 0.5em
  font-weight bold

.swatch__list
  margin-bottom 0
