//
// BROWSERSYNC
// ===========
// Dev-only styles for browsersync notifications
//


div[id='__bs_notify__']
  pointer-events none
  padding rem(2) rem(5) !important
  font-size rem(12) !important
  background-color rgba(27, 32, 50, 0.75) !important
