// NEEDS REVIEW

//
// STYLE GUIDE
// ===========
// Documentation/examples to follow. Applies to a preset jade template for
// showcasing various elements of a site during development.
//


.btn-static-home
  position fixed
  top 10px
  right 8px
  background-color $color--grey
  height 24px
  margin 0 -40px
  padding 0 40px
  font-family Arial, sans-serif
  color $color--black
  transform rotate(45deg)
  text-align center
  &:hover
    background-color lighten($color--grey, 20%)
    text-decoration none


.favicon
  display inline-block
  margin-right 1em

.ios-icon
  display inline-block
  margin-right 1em
  text-align center

  img
    border-radius 17.544%

  p
    color $color--black
    font-size em(12)
    font-family Arial, Helvetica, sans-serif


.ms-tile
  margin-right 1em
  display inline-block
  width 120px
  height 120px

  img
    display block
    width 64px
    height 64px
    margin 0 auto
    margin-top 15px
    margin-bottom 20px

  p
    margin-bottom 0
    padding 0 15px
    text-overflow ellipsis
    overflow hidden
    color $color--black
    font-size em(12)
    font-family Arial, Helvetica, sans-serif
    white-space nowrap

  .light
    color $color--white
