//
// STRUCTURAL STYLES
// =================
// Blocks of code which generically lay out blocks of content.
// Avoid adding site specific styles in here.
//
// 1. Centering
// 2. Media Block
//


//
// 1. CENTERING
// Used to center content within the page
//

.centering
  margin 0 auto
  max-width 60em
  padding 0 1em
  clearfix()


//
// 2. MEDIA BLOCK
// Used to easily position images next to text.
//

.media,
.media__body
  overflow hidden

.media
  margin 1em

  .media__img
    float left
    margin-right 1em

    img
      display block

.media--alt

  .media__img
    float right
    margin-right 0
    margin-left 1em
