//
// CONTROLS
// ========
// Used to markup and style all form controls: inputs, textareas, selects etc.
//


$control--text
  display block
  width 100%
  padding rem(10) rem(15)
  border 1px solid $color--blue-grey
  height $base--line-height + rem(20)
  +ie(8)
    height auto
    line-height $base--line-height + rem(20)
  font-family inherit
  font-size inherit
  background-color transparent
  border-radius 3px
  color inherit
  &:focus
    outline 0
    color $color--black
    border-color $color--black

  &::placeholder
    color $color--blue--extra-light

.control--text
  @extend $control--text
  -webkit-appearance none

.control--choice
  @extend $control--text

.control--multilined
  resize vertical
  height auto

.control--boolean
  margin-right 10px
  line-height inherit
  vertical-align middle

  & + span
    vertical-align middle

  span + &
    margin-right 0
    margin-left 10px

.control--file
  line-height 1
  font-size inherit
  font-family inherit
