//
// FIELDS
// ======
// These lay out controls, labels and additional elements within the context
// of a form
//


.field
  margin-bottom $base--spacing

.field__question
  margin-bottom ( $base--spacing / 2 )

.field__assistance
  margin-top ( $base--spacing / 2 )
  color $color--grey
  font-size 0.9em

.field__feedback
  margin-top ( $base--spacing / 2 )

  .field--error &
    color $color--error

  .field--success &
    color $color--success

  .field--notice &
    color $color--notice

  .field--warning &
    color $color--warning
