//
// FIELDS
// ======
// These lay out controls, labels and additional elements within the context
// of a form
//


.field
  margin-bottom .5em

.field__question
  display block
  margin-bottom .5em

.field__answer
  margin-bottom .5em

.field__answer-list
  margin-bottom .5em

  li
    list-style none
    margin-left 0

.field__text
  margin-bottom .5em

  p, ul, ol, dl
    margin-bottom .5em

.field__text--assistance
  color #777
  font-size 0.9em

.field__text--feedback
  //

.field__text--feedback--success
  color $color--success

.field__text--feedback--error
  color $color--error
