//
// GRID
// ====
// Reference: https://github.com/clocklimited/responsive-grid
//


//
// BASE GRID STYLES
//

grid-base()


//
// GRID WIDTHS
//

grid-widths('', 2 3)

+width-min($mq--tablet)
  grid-widths('tablet', 2 3)

+width-min($mq--desktop)
  grid-widths('desktop', 2 3 4)
