//
// ICONS
// =====
// Defualt styles for icons. Hides text, applies a background image, and uses
// a Modernizr class to switch the default PNG sprite for an SVG.
//


//
// BASE STYLES
// Some simple styles for other icons to extend and customise
//

.icon
  hide-text()
  display inline-block
  width 24px
  height 24px
  background-position -100% -100% // Position sprite offscreen by default
  background-repeat no-repeat
  // background-image versionPath('/assets/img/content/icon-sprite.png')
  // .svg &
  //   background-image versionPath('/assets/img/content/icon-sprite.svg')


//
// EXAMPLE ICON MODIFIER
//

// .icon--close
//   background-position 0 0
