//
// LISTS
// =====
//


.list--unstyled
  margin-bottom 0

  > li
    list-style none
    margin-left 0


.list--inline

  > li
    display inline-block
    margin-left 0


.list--comma

  > li
    display inline-block
    margin-left 3px

    &:after
      content ', '

    &:last-child
      margin-right 0
      &:after
        content none
