//
// VISIBILITY
// ==========
//


// REMOVE FROM DOCUMENT
// Only use if content has no SEO / Accessibility value

.hidden
  display none


// VISUALLY HIDE
// Still accessible to screen-readers/bots

.vhidden
  position absolute
  clip rect(1px, 1px, 1px, 1px)
  overflow hidden
  height 1px
  width 1px
  padding 0
  margin 0
  border 0
